:root {
    --background-color: hsl(120, 78%, 80%);
    ;
    --primary-color: #c3ebc3;
    --accent-color: hsl(120, 78%, 80%);
    --secondary-color: #34ef0e;
    --text-color: #333;
    --border-radius: 8px;
}

body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    background: url('../../src/assets/zen.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text-color);
    line-height: 1.6;
    filter: brightness(0.7) contrast(1.2) saturate(0.8);
}

.main-title {
    margin-left: 1em;
}

.footer {
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 5px 0;
}

h1,
h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--text-color);
}

nav a {
    margin-right: 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom: 2em;
}

.error {
    text-align: center;
}

a {
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

.github-link {
    word-break: break-all;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects h1,
.skills h1 {
    padding-bottom: 1em;
}

.home,
.projects,
.skills,
.error {
    max-width: 90%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.home,
.projects,
.skills,
.error {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.home article,
.projects article,
.skills article,
.error article {
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(1, 1, 1, 1.1);
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
    filter: brightness(0.9);
}

.home article:hover,
.projects article:hover,
.skills article:hover,
.error article:hover {
    transform: scale(1.02);
}

.home article p,
.projects article p,
.skills article p,
.error article p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.home nav,
.projects nav,
.skills nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3em;
}

.home nav a,
.projects nav a,
.skills nav a {
    margin-right: 1em;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home nav a:hover,
.projects nav a:hover,
.skills nav a:hover {
    transform: translateY(-2px);
    background-color: var(--accent-color);
}

.home nav a p,
.projects nav a p,
.skills nav a p {
    color: var(--accent-color);
}

.home nav a:hover p,
.projects nav a:hover p,
.skills nav a:hover p {
    color: var(--text-color);
}

.project h3 {
    margin-right: 1em;
    text-decoration: none;
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.project h3:hover {
    transform: translateY(-2px);
    background-color: var(--accent-color);
    color: var(--text-color);
}

.modal-content {
    background-color: var(--background-color);
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 320px) {

    .home,
    .projects,
    .skills,
    .error {
        max-width: 700px;
    }

    .github-link {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 992px) {

    .home,
    .projects,
    .skills,
    .error {
        max-width: 800px;
        padding: 3em;
    }
}