body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.main-title {
    margin-left: 1em;
}

.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 5px 0;
}

h1,
h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #2c3e50;
}

nav a {
    margin-right: 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom: 2em;
}

.error {
    text-align: center;
}

a {
    transition: color 0.3s ease;
}

a:hover {
    color: #005f99;
}

.home,
.projects,
.skills,
.error {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.github-link {
    word-break: break-all;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home article,
.projects article,
.skills article,
.error article {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.home article p,
.projects article p,
.skills article p,
.error article p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.home nav,
.projects nav,
.skills nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.home nav a,
.projects nav a,
.skills nav a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.home nav a:hover,
.projects nav a:hover,
.skills nav a:hover {
    background-color: #f2f2f2;
}

@media (max-width: 320px) {

    .home,
    .projects,
    .skills,
    .error {
        max-width: 700px;
    }

    .github-link {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {

    .home,
    .projects,
    .skills,
    .error {
        max-width: 800px;
    }
}